name: RogueLike Testing

on:
  push:
    branches: [ hw_2 ]
  pull_request:
    branches: [ hw_2 ]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Get dependencies
      run:   |
         if [ "$RUNNER_OS" == "Linux" ]; then
              sudo apt -y install freeglut3 libopenal1
         else
              echo "$RUNNER_OS"
         fi
      shell: bash
    - name: Build with Gradle
      run: ./gradlew jvmTest
      
